

body{
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  padding: 0;
  margin: 0;
  background: url('../img/blur.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

}

/*global*/


.dark{
  padding: 15px;
  background: black;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
}

.container{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul{
 margin: 0;
 padding: 0;
}

/*header*/


header{
  background:black;
  color:#acb988;
  padding-top: 20px;
  min-height: 80px;
  border-bottom: #e8491 3px solid;
  position: fixed;
  width: 100%;
  z-index: 100;

}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
  margin-top: 10px;
  margin-left: 5%;
}
header #branding h1{
  margin: 0;
  color: white;

}

header nav{
  float: right;
  margin-top: 15px;
  margin-bottom: 20px;
}

.nav-up {
  top: -100px; // same as header height. use variables in LESS/SASS
}


header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}


.link-1 {
  transition: 0.3s ease;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 20px 0;


}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.left{
  float: left;
  text-align: justify;
  width: 45%;
  padding: 30px;
}

/*showcase*/

#showcase{
  min-width: 300px;
  min-height: 1000px;
  text-align: center;
  color: white;
}

#showcase h1{
  text-align: center;
  margin-top: 400px;
  font-size: 55px;
  margin-bottom: 60px;
}

#showcase p{
  font-size: 20px;
}

/*about me*/

#aboutme{
  min-width: 300px;
  min-height: 900px;
  color:black;
  background:white;
}

#aboutme h1 {
  margin-left: 5%;
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  margin-bottom: 60px;
}

#aboutme h2 {
  text-align: justify;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 20px;
  margin-bottom: 1%;
}
#aboutme h3 {
  text-align: justify;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 20px;
  margin-bottom: 5%;
}

#aboutme p{
  font-size: 20px;
  text-align: justify;
  margin-left: 5%;
  margin-bottom: 5%;
}

.progress{
   width: 60%;
   padding: 1px;
   margin-left: 5%;
   margin-bottom: 1%;
   background: #f0f0f5;
}
.progressbar {
  padding: 5px;
  background: black;
}

#table{
  margin-left: 3%;
  width: 50%;
  float: left;
}

#computer{
  float: right;
  width: 40%;
}


/*boxes*/

#boxes{
  min-width: 300px;
  min-height: 800px;
  background-color: white;
}

#boxes .box{
  float: left;
  width: 25%;
  height: 300px;
  background-color: white;
  overflow: hidden;
}

#boxes h1{
  margin-bottom: 10%;
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 5%;
  color:black;
}

/* Slide */


.item {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  margin: auto;
  float: left;
  background-color: green;
  overflow: hidden;
}

.item .item_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10%, 0);
  -moz-transform: translate3d(0, 10%, 0);
  -ms-transform: translate3d(0, 10%, 0);
  -o-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
}

.item .text {
  position: absolute;
  color: white;
  bottom: 30px;
  left: 25px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.item:hover {
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 5px, 0);
  -moz-transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  -o-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  z-index: 10;
}

.item:hover .item_bg {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.item:hover .text{
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
}

/*contact me*/


#contactme{
  min-width: 300px;
  min-height: 800px;
  color:#ffffff;
  background:white;
}

#contactme h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  margin-bottom: 60px;
  color:black;
}

#contactme form{
  float: none;
  margin-top:15px;
}

#contactme input[type="name"]{
  margin-left: 35%;
  height: 40px;
  width: 250px;

}

#contactme input[type="email"]{
  margin-left: 3.5%;
  height: 40px;
  width: 250px;

}

label {
  display: block;
  margin-bottom: .5em;
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  color: #212121;
}

textarea{
margin-top: 1%;
margin-left: 30%;
width: 700px;
height: 300px;
}


.name_input{
  float: left;
  margin-left: 30%;
}

.email_input{
  float: left;
  margin-left: 15%;
}

#email{
  width: 200px;
  height: 30px;
}

#name{
  width: 200px;
  height: 30px;
}


.button1{
    font-family: 'Montserrat', sans-serif;
    margin-top:1%;
    margin-right: 62%;
    float: right;
    background: transparent;
    color: black;
    font-size: 15px;
    height: 50px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: 1;
    border-style: solid;
    border-color: black;
    transition: all 0.3s ease 0s;
    opacity: 1;
    text-transform: uppercase;
}


 .button1:hover {
  opacity: 0.75;
  color: white;
  background:black;
}





/*Sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

/*Main-col*/
article#main-col{
  float: left;
  width: 65%;
}

footer{
  padding: 20px;
  color: white;
  background-color: black;
  text-align: center;
}

#menu-icon{

  background:url('../img/menu-icon.png');
  display: hidden;
  width: 50px;
  height: 50px;
}




@media(max-width:1600px){

  #table{
    margin-left: 10%;
    width: 80%;
    float: none;

  }

  #aboutme p{
    text-align: justify;
    margin-bottom: 100px;
  }

  #computer {
    width: 90%;
  }

  #boxes .box{
    float: left;
    width: 50%;
    height: 300px;
    background-color: white;
    overflow: hidden;
  }


  .name_input{
    float: left;
    margin-left: 25%;
    margin-right: 2%;
    margin-bottom: 20px;
  }


  textarea{
    margin-left: 25%;
    max-width: 65%;
    max-height: 400px;
    margin-bottom: 2%;
  }

  .button1{
    float: left;
    margin-left: 25%;
  }

}


@media(max-width:760px){

    #menu-icon{
      display: inline-block;
    }

    nav ul, nav:active ul{
      display: none;
      position: absolute;
      padding-top:60px;
      padding-bottom: 40px;
      background: black;
      right: 10px;
      top: 60px;
      width: 35%;
    }

    nav:hover ul{
      display:block;
    }

    nav li{
      text-align:center;
      width:100%;
      padding: 15px 0;
      margin: 0;
    }


  header #branding{
    text-align: left;

  }


  header{
    position: absolute;
    padding-bottom: 20px;
    text-align: left;
    position: fixed;
  }

  .link-1 {
    border: 0;


  }
  .link-1:hover {
    border 0;
  }



  #table{
    margin-left: 10%;
    width:80%;
    float: none;
  }


  #aboutme p{

    font-size: 20px;
    text-align: justify;
    margin-bottom: 1%;
    margin-left:1%;
  }

  #aboutme h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }



  #boxes .box{
    float: none;
    width: 100%;
    height: 300px;
    background-color: white;
    overflow: hidden;
  }

  #contactme h1{
    margin-top: 60px;
  }

  .form{
    float: left;
    margin-left:5%;
  }

  .email_input{
    float: left;
    margin-left: 25%;
    margin-bottom: 20px;
  }

  textarea{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 5%;
  }

  .button1{
    float: left;

  }

}
